# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Tkinter temporary files
*.tcl
*.tk

# Jupyter Notebook checkpoints (if you use them)
.ipynb_checkpoints

# VSCode and other IDE settings
.vscode/
.idea/

# Log files
*.log

# Environment Variables and Virtual Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS-specific
.DS_Store
Thumbs.db

# Python packaging files
*.egg-info/
*.eggs
*.dist-info
*.wheel
build/
dist/

# C extensions
*.so
*.dll
*.dylib

# Backup files
*.bak
*.swp
*.swo

# PyInstaller
# This will exclude the build and dist directories created by running PyInstaller
build/
dist/
*.spec

# Test coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover
.cache

# Unit test / coverage results
*.coverage
.tox/
.pytest_cache/
.nox/

# Pylint and Mypy files
*.pylint.d/
.mypy_cache/
.dmypy.json
